/*
 *= require_self
 *= require jquery.ui.all
 *= require bootstrap3-editable/bootstrap-editable
 */

.ui-sortable {
  li:hover {
    cursor: -webkit-grab; cursor: -moz-grab;
  }
}

.form-group.boolean {
  margin-left: 20px !important;
}
