/*
 *= require_self
 *= require jquery.ui.all
 *= require bootstrap3-editable/bootstrap-editable
 */

.ui-sortable {
  li:hover {
    cursor: -webkit-grab; cursor: -moz-grab;
  }
}

.form-inline {
  .boolean {
    margin: -2px 0 0 0 !important;
  }
}

.collection_check_boxes {
  padding: 0 1.5em 0 0.5em;
}

.form-control{
  height: auto !important;
  span {
    display: inline-block;
  }
}

.cell.maybe_more_records {
  text-align: right;
}

.cell.save {
  text-align: center;
}

@media only screen and (max-width: 880px) {
  .collection_check_boxes {
    padding: 0 1em 0.25em 0.25em;
  }
  label,
  .collection_check_boxes {
    font-size: 0.8em;
  }
}

#modal-tiny {
  width: 130px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 0 0;
}

.spinner {
  background-image: asset-url('nunchaku/spinner.gif');
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}
