/*
 *= require_self
 *= require jquery.ui.all
 *= require bootstrap3-editable/bootstrap-editable
 *= require gritter
 */

@import "../inputs/enhanced_select";
@import "../inputs/date_picker";

.ui-sortable {
  li:hover {
    cursor: -webkit-grab; cursor: -moz-grab;
  }
}

.form-group.boolean {
  margin-left: 20px !important;
}
