<div class="well">
	<h2>
		<%= page_title %>

		<div class="pull-right small">
			<%=
				if nested?
					human(parent.source.class)
				else
					human(resource_class)
				end
			%>
		</div>
	</h2>
</div>
