<div class="modal fade" id="spinner" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div id="modal-tiny" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="spinner"></div>
      </div>
    </div>
  </div>
</div>
